.main-content {
  padding-bottom: 50px;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: var(--footer-bg);
  border-top: 1px solid var(--footer-border);
  text-align: center;
}