{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-xl-8 offset-lg-2 col-lg-10 offset-md-1">
        {{ with .Content }}
          <div class="card bg-light card-body mb-3">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ range .Paginator.Pages }}
            {{ partial "post_preview.html" .}}
          {{ end }}
        </div>
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <div class="d-flex justify-content-between mt-4">
          {{ if .Paginator.HasPrev }}
            <div class="pager-button btn btn-outline-primary">
              <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
            </div>
          {{ end }}
          <div></div>
          {{ if .Paginator.HasNext }}
            <div class="pager-button btn btn-outline-primary">
              <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
            </div>
          {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
