{{- $description := "" -}}
{{- if .Description -}}
  {{- $description = .Description | plainify -}}
{{- else if .IsPage -}}
  {{- $description = .Summary | plainify -}}
{{- end -}}

{{- $keywords := slice -}}
{{- range .Params.tags -}}
  {{- $keywords = $keywords | append . -}}
{{- end -}}

{{- $authors := slice -}}
{{- if .Params.authors -}}
  {{- range .Params.authors -}}
    {{- $authorData := partial "get_author.html" (dict "Site" $.Site "key" .) -}}
    {{- if $authorData -}}
      {{- $authors = $authors | append (dict "name" $authorData.name "@type" "Person") -}}
    {{- else -}}
      {{- $authors = $authors | append (dict "name" . "@type" "Person") -}}
    {{- end -}}
  {{- end -}}
{{- else if .Params.author -}}
  {{- if reflect.IsSlice .Params.author -}}
    {{- range .Params.author -}}
      {{- $authorData := partial "get_author.html" (dict "Site" $.Site "key" .) -}}
      {{- if $authorData -}}
        {{- $authors = $authors | append (dict "name" $authorData.name "@type" "Person") -}}
      {{- else -}}
        {{- $authors = $authors | append (dict "name" . "@type" "Person") -}}
      {{- end -}}
    {{- end -}}
  {{- else -}}
    {{- $authorData := partial "get_author.html" (dict "Site" .Site "key" .Params.author) -}}
    {{- if $authorData -}}
      {{- $authors = $authors | append (dict "name" $authorData.name "@type" "Person") -}}
    {{- else -}}
      {{- $authors = $authors | append (dict "name" .Params.author "@type" "Person") -}}
    {{- end -}}
  {{- end -}}
{{- else if .Site.Params.author.name -}}
  {{- $authors = $authors | append (dict "name" .Site.Params.author.name "@type" "Person" "url" .Site.BaseURL "@id" (printf "%s#author" .Site.BaseURL)) -}}
{{- end -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "@id" (printf "%s#article" .Permalink)
  "isPartOf" (dict "@id" .Permalink)
  "author" $authors
  "headline" .Title
  "description" $description
  "inLanguage" .Lang
  "wordCount" .WordCount
  "dateCreated" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
  "datePublished" (.PublishDate.Format "2006-01-02T15:04:05-07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05-07:00")
  "keywords" $keywords
  "mainEntityOfPage" (dict "@id" .Permalink)
  "publisher" (dict
    "@type" "Organization"
    "name" .Site.Title
    "logo" (dict
      "@type" "ImageObject"
      "url" (.Site.Params.logo | absURL)
      "height" 60
      "width" 60
    )
  )
-}}
{{- if gt .ReadingTime 5 -}}
  {{- $schema = merge $schema (dict "timeRequired" (printf "PT%dM" .ReadingTime)) -}}
{{- end -}}
{{- if .Site.Params.logo -}}
  {{- $schema = merge $schema (dict "image" (.Site.Params.logo | absURL)) -}}
{{- end -}}
<script type="application/ld+json">
{{ $schema | jsonify (dict "indent" "  ") | safeJS }}
</script>
