<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": {{ .Site.Params.organizationName | default .Site.Params.author.name | jsonify }},
  "@id": {{ printf "%s#organization" .Site.BaseURL | jsonify }},
  {{- with .Site.Params.socialProfiles }}, "sameAs": {{ . | jsonify }}{{ end }}
  {{- with .Site.Params.organizationLogo }}, "logo": {{ . | jsonify }}{{ end }}
  {{- with .Site.Params.organizationAddress }}, "address": {{ . | jsonify }}{{ end }}
  {{- with .Site.Data.organization.contacts.contactPoint }}, "contactPoint": {{ . | jsonify }}{{ end }}
  "url": {{ .Site.BaseURL | jsonify }}
}
</script>
