<script type="application/ld+json"> {
  "@context" : "http://schema.org",
  "@type" : "BlogPosting",
  {{ if .Params.categories }}{{ range .Params.categories }}"articleSection" : "{{ . }}",{{ end }}{{ end }}
  "name" : "{{ .Title | safeJS }}",
  "headline" : "{{ .Title | safeJS }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  },
  "description" : "{{ if .Description }}{{ .Description | plainify }}{{ else }}{{if .IsPage}}{{ .Summary | plainify  }}{{ end }}{{ end }}",
  "inLanguage" : "{{ .Lang }}",
  {{- $authors := partial "author_list.html" . -}}
  {{- if $authors -}}
    {{- if gt (len $authors) 1 -}}
      "author": [
        {{- range $i, $a := $authors -}}
          {{- if gt $i 0 }},{{ end -}}
          {
            "@type": "Person",
            "name": "{{ $a.name | safeJS }}"
            {{- with $a.url -}},
            "url": "{{ . | safeJS }}"
            {{- end -}}
          }
        {{- end -}}
      ],
    {{- else -}}
      "author": {
        "@type": "Person",
        "name": "{{ (index $authors 0).name | safeJS }}"
        {{- with (index $authors 0).url -}},
        "url": "{{ . | safeJS }}"
        {{- end -}}
      },
    {{- end -}}
  {{- end -}}
  "copyrightYear" : "{{ .Site.Params.since }} - {{ .Site.Lastmod.Format "2006" }}",
  {{ if not .PublishDate.IsZero -}}
    "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- else if not .Date.IsZero -}}
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Lastmod -}}
    "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  "url" : "{{ .Permalink }}",
  "wordCount" : "{{ .WordCount }}",
  "image" : "{{ .Site.Params.logo | absURL }}",
  "keywords" : [ "{{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }}" ],
  "publisher" : {
    "@type": "Organization",
    "name" : "{{ .Site.BaseURL }}",
    "logo" : {
        "@type" : "ImageObject",
        "url" : "{{ .Site.Params.logo | absURL }}",
        "height" :  60 ,
        "width" :  60
    }
  }
} </script>